{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div style="color: black; background-color: green">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div style="color: black; background-color: #B0413E">
            {{ message }}
        </div>
    {% endfor %}


    {% include 'item/_item.html.twig' %}
</div>
{% endblock %}
